.pricing-table-container {
   .block-title {
      margin-bottom: 25px;
   }
   .subtitle {
      width: 100%;
      text-align: center;
      margin-bottom: 90px;
   }
   span {
      font-weight: 400;
   }
   .price-choice-container {
      h3 {
         color: #ff5714;
      }
   }
}
