.testimonials-container {
   img {
      max-width: 8rem;
   }

   .smaller-text {
      font-size: 1rem;
   }

   .medium-text {
   }

   @media screen and (max-width: 767px) {
      .shrink-text-on-small {
         font-size: 1rem !important;
      }
   }

   @media screen and (min-width: 975px) {
      .testimonials-one__single {
         padding-left: 71px;
         padding-right: 71px;
      }
   }

   .testimonials-one__single {
      height: 100%;
   }
   @media screen and (max-width: 974px) {
      .testimonials-one__single {
         padding-left: 1rem !important;
         padding-right: 1rem !important;
      }
   }

   @media only screen and (max-width: 1200px) {
      .testimonials-one__nav-right {
         left: calc(100% + 10px);
      }
      .testimonials-one__nav-left {
         right: calc(100% + 10px);
      }
   }

   @media only screen and (max-width: 1050px) {
      .testimonials-one__nav-right {
         display: none;
      }
      .testimonials-one__nav-left {
         display: none;
      }
   }

   .medium-text {
      font-size: 1.4rem;
   }

   .placholder-profile-container {
      display: flex;
      margin-top: 30px;
   }
   .placholder-profile-ball {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: #22b4f8;
      margin: auto;

      display: flex;
   }
   .letter-container {
      display: flex;
      width: min-content;
      height: min-content;
      color: white;
      font-size: 5rem;
      margin: auto;
   }
}
