.component-list-container {
   display: flex;
   flex-direction: column;
   padding-bottom: 120px;
   .component-list-inner-container {
      display: flex;
      flex-direction: column;
   }
   p {
      margin-bottom: 0px;
   }
   span {
      font-weight: 400;
   }
   .title {
      text-align: center;
   }
   .subtitle {
      margin-top: 25px;
      text-align: center;
   }
   .item-title {
      color: black;
      margin-top: 8px;
   }
   .item-price {
      color: black;
      margin-top: 8px;
   }
   .item-icon {
      position: relative;
      min-width: 30px;
      max-width: 30px;
      height: auto;
      max-height: 45px;
      left: -1px;
      object-fit: contain;
   }
   .see-more-button {
      margin-top: 25px !important;
   }

   @media (max-width: 576px) {
      p {
         text-align: center;
      }
      .item-icon {
         margin: 0rem auto;
         min-width: 60px;
         max-width: 60px;
      }
   }

   .box-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .box-outer-item-container {
         width: 31%;
         display: flex;
         flex-direction: column;
         height: auto;
         padding: 15px;
         margin-top: 25px;
         -webkit-box-shadow: 5px 5px 20px -2px rgba(0, 0, 0, 0.16);
         box-shadow: 5px 5px 20px -2px rgba(0, 0, 0, 0.16);
         border-radius: 20px;
      }
      .item-description {
         margin-top: 8px;
      }
      @media (max-width: 1197px) {
         .box-outer-item-container {
            width: 48%;
         }
      }

      @media (max-width: 576px) {
         .box-outer-item-container {
            width: 100%;
         }
      }
   }

   .flat-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      .flat-item-container {
         width: 100%;
         margin-top: 25px;
         padding: 30px 15px;
         -webkit-box-shadow: 5px 5px 20px -2px rgba(0, 0, 0, 0.16);
         box-shadow: 5px 5px 20px -2px rgba(0, 0, 0, 0.16);
         border-radius: 20px;
         display: flex;
      }

      p {
         margin: 0px 0px 0px 15px;
      }
   }

   .mobile-container {
   }
}
.component-list-container.pt {
   padding-top: 120px;
}
