.footer-container {
   .footer-widget__contact a:hover {
      color: #22b4f8 !important;
   }

   .site-footer__copy a {
      color: #ff5714;
   }

   .site-footer__copy a:hover {
      color: #22b4f8 !important;
   }
}
